header {
  text-align: center;

  .logo {
    padding: 1.1rem;
    position: relative;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  }

  .ohmyfood {
    max-height: 30px;
    width: auto;
    margin: 10px;
  }

  nav {
    background: #f7f9f9;
    margin-bottom: 50px;

    .localissation {
      padding: 20px;
      background: #ebedef;

      input {
        font-family: "Roboto" sans-serif;
        font-size: 1.2rem;
        border-style: none;
        background-color: #ebedef;
        font-weight: bold;
      }

      i {
        font-size: 1.2rem;
        margin-left: 110px;
        margin-right: 15px;
        position: relative;
      }
    }

    .presentation {
      font-size: 0.8rem;

      h1 {
        padding: 10px 50px;
        font-weight: bold;
      }

      p {
        padding: 0px 15px;
        margin-top: -20px;
        font-size: 1.2rem;
        color: grey;
      }

      .button {
        display: inline-block;
        background: linear-gradient(#ff79da, #9356dc);
        border-radius: 20px;
        padding: 10px 15px;
        margin-bottom: 40px;
        color: #fff;
        font-size: 1rem;
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }
}

.methode {
  max-width: 1280px;
  font-size: 0.7rem;
  margin: 20px;
  position: relative;
  @media (min-width: 1024px) {
    margin: auto;
  }

  .methode_pratique {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8rem;
    @media (min-width: 1024px) {
      flex-direction: row;
    }

    .bloc {
      display: flex;
      text-align: center;
      flex-grow: 1;
      background-color: #f7f9f9;
      margin: 10px;
      box-shadow: 10px 5px 5px #f7f9f9;
      padding: 10px;
      border-radius: 20px;
      font-size: 0.7rem;
      border-radius: 20px;
      background: #f7f9f9;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
      @media (min-width: 1024px) {
        margin: 20px;
      }

      .bloc:hover {
        background-color: #9356dc;
      }

      .fas {
        font-size: 1.1rem;
        color: #5d6d7e;
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 15px;
      }
      p {
        padding: 5px 8px;
        border-radius: 50%;
        background-color: #9356dc;
        color: #fff;
        position: absolute;
        left: 5px;
        @media (min-width: 1024px) {
          position: relative;
          left: -65%;
        }
      }
    }
  }
}

.restaurants {
  background-color: #f2f4f4;
  padding: 10px 20px;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 30px;
  }

  .restaurant_Menilmontant {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .sticker {
      background-color: #99e2d0;
      color: #1b6150;
      padding: 0.5rem;
      border-radius: 0.125rem;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
    }

    @media (min-width: 1024px) {
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .bloc {
      width: 100%;
      height: 280px;
      margin-bottom: 30px;
      background-color: #fff;
      border-radius: 10px;
      position: relative;

      @media (min-width: 1024px) {
        width: 45%;
      }

      .img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
      }

      h2 {
        font-size: 1.2rem;
        padding-left: 10px;
        font-weight: bold;
        color: black;
        text-transform: capitalize;
      }

      p {
        position: absolute;
        left: 10px;
        top: 230px;
        color: black;
        z-index: 2;
      }

      i {
        position: absolute;
        left: 90%;
        top: 220px;
        font-size: 1.5rem;
        & .far {
          display: block;
          z-index: 3;
        }
        & .--invisible {
          display: none;
        }
        @media (min-width: 1024px) {
          left: 90%;
        }
      }

      & .far:hover {
        display: none;
      }

      & .fas:hover {
        display: block;
        color: #9356dc;
      }
      a {
        text-decoration: none;
        color: grey;
      }
    }
  }
}

footer {
  background-color: black;
  color: #ffffff;

  .ohmyfood {
    padding-left: 30px;
    color: #fff;
    height: 20px;
  }

  .pieds--de--page {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;

    ul {
      display: flex;
      justify-content: flex-start;
      align-content: space-around;
      list-style-type: none;
      margin: 2px -50px;
      font-size: 0.9rem;
    }

    li {
      margin-left: 15px;
    }
  }
}

.header--pages {
  position: relative;
}
.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  z-index: 10;

  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }

  .lien-logo {
    font-family: Shrikhand, "cursive";
    margin: 0;
    text-align: center;

    h1 {
      display: block;
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
  }
}

.images {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;

  .container_2 {
    max-width: 1280px;
    margin: auto;
  }

  .menu-box {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-cartes__listes {
      h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
      }
    }
  }
}
