header{
  text-align: center;

  .logo{
    padding: 1.1rem;
    

             
  }

  .ohmyfood{
  max-height: 30px;
  width: auto;
  margin: 10px;
  }

  nav{
   
   background:#F7F9F9;
   margin-bottom: 50px;
   
    .localissation{
     padding: 20px;     
     background: #EBEDEF;
     
     
     
      
      input{
        font-family: 'Roboto' sans-serif;
        font-size: 1.2rem;
        border-style: none;
        background-color:#EBEDEF  ;
        font-weight: bold;
       
      }

      i{
        font-size: 1.2rem;
        margin-left: 110px;
        margin-right: 15px;
        position: relative;
          
      }

    }
   
    .presentation{
     font-size: 0.8rem;
     
     
      h1{
      padding: 10px 50px ;
      font-weight: bold;
      
      }

      p{
      padding: 0px 15px;
      margin-top:-20px;
      font-size: 1.2rem;
      color: grey;
      }

     .button{
       display: inline-block;
       background: linear-gradient(#ff79da, #9356dc);
       border-radius: 20px;
       padding:10px 15px;
       margin-bottom: 40px;
      color: #fff;
      font-size: 1rem;
      transform: scale(1.05);
         
      }

    }

 }

}

.methode{
  font-size: 0.7rem;
  margin:10px;
  
  .methode_pratique{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    
    
    .bloc{
      display: flex;
      text-align: center;
      background-color:#F7F9F9;
      margin: 10px;
      box-shadow: 10px 5px 5px #F7F9F9;
      padding: 10px;
      border-radius: 20px;
      font-size: 0.7rem;
      border-radius: 20px;
      background: #F7F9F9;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);

        .bloc:hover{
          background-color: #9356dc;
        }

      .fas{
        font-size: 1.1rem;
        color:#5D6D7E;
        margin-top: 15px;   
        margin-right: 15px; 
        margin-left: 15px; 

        
      }
      p{
        
        padding: 5px 8px;
        border-radius: 50%;
        background-color: #9356dc;
        color: #fff;
        position: absolute;
        left: 10px;
              
      }
      
    }

  }
}

.restaurants{
  background-color:#F2F4F4;
  padding:10px 20px ;
  

  h1{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 30px;
  }
  
  .restaurant_Menilmontant{
    
      display: flex;
      justify-content: center;
      flex-direction: column;
      
      
      

    .bloc{
      width: 100%;
	    height: 280px;
      margin-bottom: 30px;
	    background-color: #fff;
	    border-radius: 10px;
      position: relative;
	    
     
      
      .img{
        width: 100%;
        height:200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
      }

      h2{
        font-size: 1.2rem;
        padding-left: 10px;
        font-weight: bold;
        text-transform: capitalize;
      }

      p{
        position: absolute;
        left: 10px;
        top: 230px;
        z-index: 2;
      }

      i{
        position: absolute;
        left: 360px;
        top: 220px;
        font-size: 1.5rem;
        
      }

      & .fas:hover{
        color: #9356dc;
      }

      a{
         text-decoration: none;
         color: black;
      }
    }
  }
}

footer{
  background-color: black;
  color: #ffffff;

  .ohmyfood{
    padding-left: 30px;
    color: #fff;
    height: 20px;
  }
  
  .pieds--de--page{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;

    ul{
      display: flex;
      justify-content: flex-start;
      align-content: space-around;
      list-style-type: none;
      margin: 2px -50px;
      font-size: 0.9rem;
      
    }

    li{
      margin-left: 15px;
    }
  }

}



.header{
  display: flex;
  justify-content: center;
  align-content: space-between;
}



